port: 81
## this will require during authentication. Use random secret.
# openssl rand -hex 32
# OR
# cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 36 | head -n 1
api_key: API3Q37hsqU
api_secret: hZBTzWScAVPgVVasZshXwwypxoDzVLeU45xb
## It can be any local path
path: ./examples/files
nginx_file_serve_path: "/examples/"
debug: false
compress: false
delete_empty_dir: false
# If true, then a deleted file will not be removed immediately but from DB.
# Instead, it will move that one to another directory and keep for a certain period of time
# This way we can recover in case it was deleted by mistake
enable_del_file_backup: true
# we can use a separate path for this backup
# we'll use os.Rename just to change the path instated of delay on disk operation
# if we're using remote disk then make sure both of the main path and del_backup are in the same disk
# otherwise it will give cross-device error
del_file_backup_path: "./examples/files/del_backup"
# duration to keep the files as backup in hour, default: 72 hours (3 days)
del_file_backup_duration: 72h
